node_modules
.env
.git
.gitignore
.vscode
# apps/ is now required for building frontends in Cloud Build
README.md

.dockerignore
docs/
logs/

apps/*/android/
apps/*/ios/
apps/*/node_modules/
test/
tmp/
